.series {
  padding-bottom: 80px; }

.series-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.series-list li {
  width: 33.3%;
  border: 1px solid #DCDCDC; }

.series-list a {
  font-size: 32px;
  color: #000000;
  padding: 24px 0px;
  display: block; }

.series-list a:hover {
  border-bottom: 8px solid #AA0601; }

.series-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.series-img-left {
  background-image: url(/glassesweb/app/assets/images/product-header-1.png);
  width: 50%;
  height: 296px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.series-img-right {
  background-image: url(/glassesweb/app/assets/images/product-header-2.png);
  width: 50%;
  height: 296px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.series-img li:hover {
  opacity: 0.9; }

@media (max-width: 991px) {
  .series {
    padding-bottom: 40px; }
  .series-bar {
    padding-inline: 0;
    max-width: 100%; }
  .series-list {
    width: 100%; }
  .series-list a {
    font-size: 24px;
    padding: 16px 0px; }
  .series-img-left {
    background-image: url(/glassesweb/app/assets/images/product-header-sm-1.png); }
  .series-img-right {
    background-image: url(/glassesweb/app/assets/images/product-header-sm-2.png); } }

@media (max-width: 768px) {
  .series-list a {
    font-size: 16px;
    padding: 12px 0px; } }

.combi {
  padding-bottom: 80px; }

.combi h2 {
  font-size: 42px;
  text-align: center; }

.sub-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 32px; }

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.product img {
  width: 100%; }

.product li {
  width: 24%;
  margin-bottom: 80px; }

.product a:hover {
  opacity: 0.9; }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.square::before {
  content: '';
  width: 24px;
  height: 24px;
  background-color: #5F3E2D;
  border-radius: 4px;
  margin-right: 8px; }

.square::after {
  content: '';
  width: 24px;
  height: 24px;
  background-color: #B75929;
  border-radius: 4px; }

@media (max-width: 991px) {
  .product li {
    width: 49%;
    margin-bottom: 40px; } }

@media (max-width: 768px) {
  .combi {
    padding-bottom: 64px; }
  .combi h2 {
    font-size: 24px; }
  .sub-title {
    font-size: 24px;
    margin-bottom: 24px; }
  .product li {
    width: 100%;
    margin-bottom: 24px; } }

.page-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black; }

.page a {
  color: black;
  font-size: 18px;
  padding: 12px 16px;
  display: block; }

.page a:hover {
  color: #FFFFFF;
  background: #000000; }

.boder-right {
  border-right: 1px solid black; }

@media (max-width: 768px) {
  .page a {
    font-size: 16px;
    padding: 12px 14px; } }

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.ta-c {
  text-align: center; }

.ai-fe {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.fs-16 {
  font-size: 16px; }

.fs-20 {
  font-size: 20px; }

.fs-24 {
  font-size: 24px; }

.fs-64 {
  font-size: 64px; }

.ml-20 {
  margin-left: 20px; }

.mb-8 {
  margin-bottom: 8px; }

.mb-16 {
  margin-bottom: 16px; }

.mb-24 {
  margin-bottom: 24px; }

.mb-48 {
  margin-bottom: 48px; }

.mb-32 {
  margin-bottom: 32px; }

.mb-72 {
  margin-bottom: 72px; }

.fw-b {
  font-weight: bold; }

.tc-650300 {
  color: #650300; }

.tc-AA0601 {
  color: #AA0601; }

.tc-FFFFFF {
  color: #FFFFFF; }

.bc-FBF2F2 {
  background: #FBF2F2; }

.bg-FFFFFF {
  background: #FFFFFF; }

.bg-AA0601 {
  background: #AA0601; }

.tc-707070 {
  color: #707070; }

/*# sourceMappingURL=frame-series.css.map */
