<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/base/reset.css">
  <link rel="stylesheet" href="./assets/style/layout.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&family=Roboto:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>

<body>
  <div class="header">  
    <div class="container nav-bar"> 
        <h1 class="logo"><a href="./index.html">glasses</a></h1>
        <ul class="menu">
            <li><a href="./frame-series.html">系列鏡框</a></li>
            <li><a href="./store.html">門市據點</a></li>
            <li><a href="./blog.html">部落格</a></li>
            <li><a href="./QA.html">常見問題</a></li>
        </ul>
    </div>     
   </div>

  <%- contents %>

  <div class="footer">
    <div class="container ">
        <div class="footer-menu">
            <div class="menu-contact">
                <ul class="menu-list">
                <li><a href="./index.html">首頁</a></li>
                <li><a href="./frame-series.html">系列鏡框</a></li>
                <li><a href="./store.html">門市據點</a></li>
                <li><a href="./blog.html">部落格</a></li>
                <li><a href="./QA.html">常見問題</a></li>
                </ul>
                <ul class="footer-contact">
                    <li class="df ai-c">
                        <i class="fa-solid fa-phone fs-36 "></i>
                        <a href="tel:+080000000" class="tel">0800-000-000</a>
                    </li>
                    <li class="df ai-c">
                        <i class="fa-solid fa-envelope fs-36 "></i>
                        <a href="mailto:glasses@business.com" class="mail">glasses@business.com</a>
                    </li>
                </ul>
            </div>
            <ul class="social df jc-sb">
                <li><a href="#"><img src="./assets/images/ic-social-fb.png" alt=""></a></li>
                <li><a href="#"><img src="./assets/images/ic_social_ig.png" alt=""></a></li>
                <li><a href="#"><img src="./assets/images/ic_social_line.png" alt=""></a></li>
            </ul>
        </div>
        <div class="copyright">
            <p class="fs-16">Copyright © 2020 Glasses.All rights reserved.</p>
            <ul class="other-serve">
                <li class="mb-8"><a href="#" >隱私權政策</a></li>
                <li><a href="#" >服務條款</a></li>
            </ul>
        </div>
    </div>
   </div>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
