.content {
  padding-top: 96px;
  padding-bottom: 80px; }

.store-title {
  font-size: 48px;
  font-weight: bold;
  border-left: 8px solid #9F1213;
  margin-bottom: 33px;
  padding-left: 16px; }

.select-list {
  margin-bottom: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.select-list label {
  font-size: 24px;
  margin-right: 16px;
  font-weight: bold; }

.select-list select {
  font-size: 18px;
  width: 304px; }

.store-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.Taipei-store {
  margin-right: 24px; }

.store-contact h3 {
  font-size: 24px;
  border: 1px solid #00000020;
  padding: 8px 0px 8px 24px; }

.contact-info {
  padding: 16px 0px 16px 24px;
  font-size: 20px;
  border: 1px solid #00000020; }

.contact-info li:nth-child(1), .contact-info li:nth-child(2) {
  margin-bottom: 8px; }

.contact-info i {
  font-size: 18px;
  margin-right: 11px; }

.contact-info a {
  color: black; }

.contact-info a:hover {
  color: #AA0601; }

@media (max-width: 991px) {
  .store-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .Taipei-store img {
    width: 50%;
    margin-right: 24px; }
  .Taipei-store {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 24px; } }

@media (max-width: 768px) {
  .Taipei-store {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%; }
  .Taipei-store img {
    width: 100%;
    margin-right: 24px; }
  .store-title {
    font-size: 24px; }
  .select-list label {
    font-size: 16px; }
  .select-list label {
    margin-right: 8px; }
  .select-list select {
    width: 265px; } }

.footer {
  background: #AA0601;
  padding-top: 48px;
  padding-bottom: 32px;
  color: #FFFFFF; }

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #FFFFFF; }

.menu-list a {
  color: #FFFFFF;
  font-size: 16px;
  display: block;
  padding: 5px 24px; }

.ml--24 {
  margin-left: -24px; }

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.menu-list a:hover {
  background: #FFFFFF;
  color: #AA0601; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.social a {
  padding: 5px 16px; }

.mr--16 {
  margin-right: -16px; }

.social img {
  width: 48px;
  height: 48px; }

.social img:hover {
  opacity: 0.8; }

.footer-contact {
  padding-top: 24px;
  padding-bottom: 32px; }

.footer-contact a {
  color: #FFFFFF; }

.footer-contact a:hover {
  color: #AA0601;
  background: #FFFFFF; }

.tel {
  font-size: 36px;
  margin-left: 20px; }

.mail {
  font-size: 36px;
  margin-left: 20px; }

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 32px; }

.fs-36 {
  font-size: 36px; }

.other-serve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px; }

.other-serve a {
  color: #FFFFFF;
  padding: 5px 24px; }

.mr--24 {
  margin-right: -24px; }

.other-serve a:hover {
  color: #AA0601;
  background: #FFFFFF; }

@media (max-width: 991px) {
  .social img {
    width: 40px;
    height: 40px; }
  .social a {
    padding: 5px 8px; } }

@media (max-width: 768px) {
  .menu-contact {
    margin-top: -24px; }
  .menu-list {
    display: none; }
  .tel, .mail {
    font-size: 16px;
    margin-left: 11px; }
  .fs-36 {
    font-size: 18px; }
  .social img {
    width: 24px;
    height: 24px; }
  .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .copyright p {
    margin-bottom: 8px; }
  .other-serve {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .other-serve a {
    font-size: 16px;
    padding: 0px 0px; } }

/*# sourceMappingURL=storePage.css.map */
